* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
a {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}
/** Header **/
header {
  height: 81px;
  line-height: 81px;
  background-color: #1d2126;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container label {
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
header .container input {
  display: none;
}

header .container ul li {
  list-style: none;
  float: left;
}

header .container ul li a {
  color: #a4aead;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 3px;
  margin-left: 16px;
}

header .container ul li a:hover {
  border: 2px solid #5b6168;
}
header .container ul li .active {
  border: 2px solid #23b7a4;
  color: #23b7a4;
  margin-left: 0px;
}
