* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* .clearfix::after {
  content: " ";
  clear: both;
  display: table;
} */
a {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}
/** Header **/
header {
  height: 81px;
  line-height: 81px;
  background-color: #1d2126;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container label {
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
header .container input {
  display: none;
}

header .container ul li {
  list-style: none;
  float: left;
}

header .container ul li a {
  color: #a4aead;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 3px;
  margin-left: 16px;
}

header .container ul li a:hover {
  border: 2px solid #5b6168;
}
header .container ul li .active {
  border: 2px solid #23b7a4;
  color: #23b7a4;
  margin-left: 0px;
}

/** Hero section **/
section#hero {
  height: 660px;
  background-image: url("images/hero.jpg");
  background-color: #3a454d;
  background-position: center center;
}
section#hero .container h2 {
  color: white;
  max-width: 654px;
}
section#hero .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
section#hero .container p {
  margin-top: 24px;
  max-width: 654px;
}

section#hero .container div {
  margin-top: 36px;
  font-size: 0px;
  max-width: 654px;
}
section#hero .container div a {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 2px solid white;
  border-radius: 4px;
  margin-right: 11px;
  display: inline-block;
}
section#hero .container div :last-child {
  margin-right: 0px;
}
section#hero .container div a:hover {
  background-color: #23b7a4;
  border-color: #23b7a4;
}
section#hero .container ul {
  position: absolute;
  font-size: 0px;
  right: 15px;
  bottom: 30px;
}
section#hero .container ul li {
  display: inline-block;
  font-size: 0px;
  width: 13px;
  height: 13px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 8px;
}

section#hero .container ul li:hover {
  border-color: #23b7a4;
}
section#hero .container ul :first-child {
  margin-left: 0px;
}
section#hero .container ul :nth-child(2) {
  background-color: white;
}
section#hero .container ul .active:hover {
  border-color: white;
}
/* section#hero .container ul li a {
  display: block;
  text-indent: -1000000px;
} */

/** About section **/
section#about {
  border-bottom: 1px solid #dde1e4;
  padding-top: 80px;
  padding-bottom: 100px;
}

section#about .container h2 {
  color: #292f36;
  margin-bottom: 57px;
}
section#about .container p {
  color: #8d8f92;
}
section#about .container > div {
  display: flex;
}
section#about .container > div > div:first-child {
  max-width: 653px;
  margin-right: 30px;
}
section#about .container > div > div:last-child {
  max-width: 457px;
}
section#about .container > div > div:first-child > p {
  margin-bottom: 26px;
}
section#about .container > div > div:first-child > :nth-child(2) {
  margin-bottom: 0px;
}
/* section#about .container > div > div:first-child > p > span {
  color: #8d8f92;
  font-weight: bold;
} */
section#about .container > div > div:first-child > ul > li {
  list-style: none;
  float: left;
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 99px;
}
section#about .container > div > div:first-child > ul > li:hover {
  background-color: #d0d5d9;
}
section#about .container > div > div:first-child > ul > :nth-child(1) {
  background-image: url("images/socials/facebook.png");
}
section#about .container > div > div:first-child > ul > :nth-child(2) {
  background-image: url("images/socials/twitter.png");
}
section#about .container > div > div:first-child > ul > :nth-child(3) {
  background-image: url("images/socials/google.png");
}
section#about .container > div > div:first-child > ul > :nth-child(4) {
  background-image: url("images/socials/dribbble.png");
}
section#about .container > div > div:first-child > ul > :nth-child(5) {
  background-image: url("images/socials/behance.png");
  margin-right: 0px;
}
section#about .container > div > div:first-child > ul > li > a {
  display: block;
  text-indent: -1000000px;
  width: 100%;
  height: 100%;
}

section#about .container > div > div:last-child > ol {
  counter-reset: about;
  margin-top: -4px;
}
section#about .container > div > div:last-child > ol > li {
  list-style: none;
  position: relative;
  padding-left: 70px;
}

section#about .container > div > div:last-child > ol > li::before {
  display: block;
  counter-increment: about;
  content: "" counters(about, ".", decimal-leading-zero) "";
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 20px;
  background-color: #23b7a4;
  position: absolute;
  top: 12px;
  left: 0px;
}
